<div ng-controller="TodoListController as todoList">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><img src="src/image/logo_iup.png"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#/home2">Home</a></li>
        <li><a href="#/home">Registeration</a></li>
        <li><a href="#/changepage">Profile</a></li>
      </ul>
    </div>
  </nav>

<div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input ng-model="search" id="id_course" type="text" class="validate">
            <label for="id_course">Course</label>
          </div>
        </div>
      </form>
 </div>

<ul class="collection">
    <li ng-repeat="course in myData.courses " class="collection-item avatar">
      <img src="src/image/me.jpg" alt="" class="circle">
      <span class="title">{{course.id}} {{course.name.en}}</span>
      <p>{{course.location}}<br>
         {{course.date}}<br>
         sec : {{course.sec}}
      </p>
      <a class="secondary-content"><md-button class="md-primary md-raised" ng-click="showConfirm($event , course)">
      DROP
    </md-button></a>
    </li>
  </ul>

</div>
