<div ng-controller="TodoListController as todoList">

    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><img src="src/image/logo_iup.png"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#/home">Registeration</a></li>
        <li><a href="#/changepage">Report</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input ng-model="search" id="id_course" type="text" class="validate">
            <label for="id_course">Course</label>
          </div>
        </div>
      </form>
  </div>

    <section layout="row" layout-sm="column" layout-align="end end" layout-wrap>
      <div class="chip">
          <img src="src/image/me.jpg" alt="Contact Person">
          {{myData.name}}
      </div>
    </section>

    <section layout="row" layout-sm="column" layout-align="end end" layout-wrap>

      <md-button class="md-raised md-primary" ng-click="showAdvanced($event,myData)" >Export</md-button>
      <md-button class="md-raised" ng-click="showActionToast()">
        Log out
      </md-button>
      
    </section>


<div class="row">
  <form class="col s6">
  <ul class="collection">
    <li ng-repeat="course in courseList | filter:search track by course.id" class="collection-item avatar">
      <img src="src/image/me.jpg" alt="" class="circle">
      <span class="title">{{course.id}}</span>
      <p>{{course.name.en}}<br>
         {{course.name.th}}
      </p>
      <a class="secondary-content"><md-button class="md-primary md-raised" ng-if=course.haveSec ng-click="showTabDialog($event , course)">
      ADD
    </md-button></a>
    </li>
  </ul>
  </form>
  <form class="col s6">
  <ul class="collection">
    <li ng-repeat="course in myData.courses " class="collection-item avatar">
      <img src="src/image/me.jpg" alt="" class="circle">
      <span class="title">{{course.id}}</span>
      <p>{{course.name.en}}<br>
         {{course.name.th}}
      </p>
      <a class="secondary-content"><md-button class="md-primary md-raised" ng-click="showConfirm($event , course)">
      DROP
    </md-button></a>
    </li>
  </ul>
  </form>
</div>

</div>